@font-face   
    font-family: 'RB' 
    src: url('../fonts/Rubik-Bold.woff2') format('woff2'),
         url('../fonts/Rubik-Bold.woff') format('woff') 
    font-weight: normal 
    font-style: normal 

  
@font-face   
    font-family: 'RBI' 
    src: url('../fonts/Rubik-BoldItalic.woff2') format('woff2'),
         url('../fonts/Rubik-BoldItalic.woff') format('woff') 
    font-weight: normal 
    font-style: normal 

  
@font-face   
    font-family: 'RI' 
    src: url('../fonts/Rubik-Italic.woff2') format('woff2'),
         url('../fonts/Rubik-Italic.woff') format('woff') 
    font-weight: normal 
    font-style: normal 

  
@font-face   
    font-family: 'RL' 
    src: url('../fonts/Rubik-Light.woff2') format('woff2'),
         url('../fonts/Rubik-Light.woff') format('woff') 
    font-weight: normal 
    font-style: normal 

  
@font-face   
    font-family: 'RLI' 
    src: url('../fonts/Rubik-LightItalic.woff2') format('woff2'),
         url('..fonts/Rubik-LightItalic.woff') format('woff') 
    font-weight: normal 
    font-style: normal 

  
@font-face   
    font-family: 'RM' 
    src: url('../fonts/Rubik-Medium.woff2') format('woff2'),
         url('../fonts/Rubik-Medium.woff') format('woff') 
    font-weight: normal 
    font-style: normal 

  
@font-face   
    font-family: 'RMI' 
    src: url('../fonts/Rubik-MediumItalic.woff2') format('woff2'),
         url('../fonts/Rubik-MediumItalic.woff') format('woff') 
    font-weight: normal 
    font-style: normal 

  
@font-face   
    font-family: 'RR' 
    src: url('../fonts/Rubik-Regular.woff2') format('woff2'),
         url('../fonts/Rubik-Regular.woff') format('woff') 
    font-weight: normal 
    font-style: normal 
@font-face   
    font-family: 'FB' 
    src: url('../fonts/FuturaPT-Book.woff2') format('woff2'),
         url('../fonts/FuturaPT-Book.woff') format('woff') 
    font-weight: normal 
    font-style: normal 

@font-face   
    font-family: 'FL' 
    src: url('../fonts/Futura-PT-light.woff2') format('woff2'),
         url('../fonts/Futura-PT-light.woff') format('woff') 
    font-weight: normal 
    font-style: normal 