.dbd20    
    .dbd20-cta
        .dbd20-cta__in
            .dbd20-cta__text
                .dbd20-color-blue Зарегистрироваться на мероприятие
            .act__buttons
                a(href="").button.button__white.fizlico Регистрация
                //- a(href="").button.button__dark.urlico Юридическое лицо
                    span 
            button.dbd20-cta__close(type="button")
