.popup#popup-pr
    .popup-pr
        .popup-pr__window
            .popup-pr__title-space
                .popup-pr__title Текст
                a(href="").popup-pr__title-space__close
                    img(src="assets/images/close-pop.png", alt="")
            .tags__content__list.popup-pr__list
                .tags__content__item
                    .tags__content__date
                        .tags__content__date-txt 10:20
                    a.tags__content__info
                        .tags__content__info__hall ЗАЛ  |  ROCKFELLER’S HALL  |  LOFT
                        .tags__content__info__section Пленарное заседание
                        .tags__content__info__title Рекламный рынок сегодня: аналитика и прогнозы
                        .tags__content__info__descr Топ-менеджеры и ведущие специалисты рекламного, исследовательского и IT-секторов расскажут о текущем состоянии рынка и поделятся своими прогнозами развития индустрии, обсудят основные драйверы и стопперы отрасли сегодня. АКАР представит объемы рекламы в средствах ее распространения в I квартале 2019 года. Также вас ждут экспертные оценки и прогнозы в различных секторах рекламы и маркетинга.

                    .tags__content__wishlist
                        a(href="#" data-id="").recommendations__second__data__wishlist.wishlist
                            svg.recommendations__second__star-img
                                use(xlink:href="assets/sprite/sprite.svg#star")
                .popup-pr__speakers-title Спикеры
                .popup-list
                    //- .popup-item
                    //-     .popup-pr__speakers-name Ирина Пустовит
                    //-     .popup-pr__speakers-position 
                    //-         .popup-pr__speakers-position-left руководитель исследовательского направления
                    //-         .popup-pr__speakers-position-right AdIndex
                    //- .popup-item
                    //-     .popup-pr__speakers-position-st Модератор
                    //-     .popup-pr__speakers-name Сергей Соболев
                    //-     .popup-pr__speakers-position 
                    //-         .popup-pr__speakers-position-left редактор
                    //-         .popup-pr__speakers-position-right РБК
                    
                //-     .popup-item
                //-         .popup-pr__speakers-name Андрей Брайович
                //-         .popup-pr__speakers-position 
                //-             .popup-pr__speakers-position-left генеральный директор
                //-             .popup-pr__speakers-position-right Media Direction Group
                //- .popup-pr__speakers-name Сергей Веселов
                //- .popup-pr__speakers-position 
                //-     .popup-pr__speakers-position-left вице-президент и сопредседатель комиссии экспертов
                //-     .popup-pr__speakers-position-right АКАР
                //- .popup-pr__speakers-name Ксения Ачкасова
                //- .popup-pr__speakers-position 
                //-     .popup-pr__speakers-position-left исполнительный директор
                //-     .popup-pr__speakers-position-right Mediascope
                //- .popup-pr__speakers-name Сергей Веселов
                //- .popup-pr__speakers-position 
                //-     .popup-pr__speakers-position-left вице-президент и сопредседатель комиссии экспертов
                //-     .popup-pr__speakers-position-right АКАР
                //- .popup-pr__speakers-name Ксения Ачкасова
                //- .popup-pr__speakers-position 
                //-     .popup-pr__speakers-position-left исполнительный директор
                //-     .popup-pr__speakers-position-right Mediascope
                a(href="").popup-pr__all
                    .popup-pr__all-txt Вся программа 
                    .popup-pr__all-img
                        img.recommendations__first__more__img(src="assets/images/rec_arrow.png")
