.db
    .dbd20-right-panel.dbd20-right-panel_active
        .dbd20-right-panel__btns
            button.dbd20-right-panel__btn.dbd20-right-panel__btn_menu(type="button" title="Меню")
                span.dbd20-right-panel__btn-text Меню
            button.dbd20-right-panel__btn.dbd20-right-panel__btn_register.tiwo_ticketseller(type="button" data-event_id="1109" title="Регистрация")
                span.dbd20-right-panel__btn-text Купить билет
            //- .left-panel
            //-     .left-panel-wr
            //-         .left-panel__title Купить билет
            //-         a(href="").button.button__white.tags__content__btn.tags__content__link.left-btn Физическое лицо
            //-         a(href="").button.button__dark.urlico.tags__content__link.left-btn Юридическое лицо
            //-             span
        .dbd20-right-panel__menu
            .dbd20-right-panel__menu-in
                .dbd20-right-panel__menu-top
                    img(src="assets/images/right-menu.png" alt="")
                ul.dbd20-right-panel__menu-list
                    li.dbd20-right-panel__menu-item.goto_section
                        a(href="#about").dbd20-right-panel__menu-link О мероприятии
                    li.dbd20-right-panel__menu-item
                        a(href="speakers.html").dbd20-right-panel__menu-link Спикеры
                    li.dbd20-right-panel__menu-item
                        a(href="program.html").dbd20-right-panel__menu-link Программа
                    li.dbd20-right-panel__menu-item
                        a(href="news.html").dbd20-right-panel__menu-link Новости города
                    li.dbd20-right-panel__menu-item.goto_section
                        a(href="#partners").dbd20-right-panel__menu-link Партнеры
                    li.dbd20-right-panel__menu-item.goto_section
                        a(href="#contacts").dbd20-right-panel__menu-link Контакты
                    li.dbd20-right-panel__menu-item.toggle_submenu
                        a(href="#").dbd20-right-panel__menu-link.dbd20-right-panel__menu-link_subtoggle Как это было
                        span.dbd20-right-panel__menu-item-toggle
                        ul.dbd20-right-panel__menu-sub
                            li.dbd20-right-panel__menu-sub-item
                                a(href="https://conf.adindex.ru/adindex-city-conference-2019/" target="_blank").dbd20-right-panel__menu-sub-link 2019
                            li.dbd20-right-panel__menu-sub-item
                                a(href="https://conf.adindex.ru/adindex-city-conference-2018/" target="_blank").dbd20-right-panel__menu-sub-link 2018
                .dbd20-right-panel__menu-bot
                    a(href="#").button.button__white.right-btn(type="button" data-event_id="1109") Регистрация