.section__partners
    padding-top 40px

.partners__title
    text-align center
    margin 60px 0
    font(RB, dark, 30px)
    +adapt(1400px)
        margin 40px 0
    +adapt(1200px)
        margin 30px 0
    +adapt(900px)
        margin 20px 0
    +adapt(700px)
        margin 10px 0
.partners__list
.partners__list-sub
    min-width 300px
    display flex
    justify-content center
    align-items center
    flex-wrap wrap
    margin 1px 0 0 1px
.partners__item__logo-wr,
.partners__item__logo-wr-special
    border 1px solid gray
    display flex
    justify-content center
    align-items center
    margin -1px 0 0 -1px

.partners__logo
    width 100%


.privacy-policy
    text-align center
    margin-bottom 40px
.privacy-policy__link
    color dark
    font-size 18px
    text-decoration underline
.center
    justify-content center !important