@import "config/variables.styl"
@import "config/mixins.styl"

@import "layout/fonts.styl"
@import "layout/base.styl"
@import "layout/adjastment.styl"

@import "swiper/swiper.styl"

@import "common/header.styl"
@import "common/recommendation.styl"
@import "common/program-table.styl"
@import "common/popup-reg.styl"
@import "common/popup-program.styl"
@import "common/act__popup.styl"
@import "common/right-menu.styl"
@import "common/result-form"
@import "common/loader"
@import "common/btn-up.styl"

@import "sections/first-screen.styl"
@import "sections/slider.styl"
@import "sections/recommendations.styl"
@import "sections/tabs.styl"
@import "sections/contacts.styl"
@import "sections/news.styl"
@import "sections/news-inside.styl"
@import "sections/partners.styl"
@import "sections/speakers.styl"
@import "sections/program.styl"
@import "sections/program-page.styl"
@import "sections/personal-area.styl"

@import "fancy/core.styl"
@import "fancy/fullscreen.styl"
@import "fancy/share.styl"
@import "fancy/slideshow.styl"
