-
    var menuList = [
        {
            item: 'Новости города',
            href: 'news.html'
            

        },
        {
            item: 'О мероприятии',
            href: '#about'
            
        },
        {
            item: 'Спикеры',
            href: 'speakers.html'

        },
        {
            item: 'Программа',
            href: 'program.html'

        },
        {
            item: 'Партнеры',
            href: '#partners'

        },
        {
            item: 'Как это было',
            href: '#history'

        },
        {
            item: 'Контакты',
            href: '#contacts'
        }
        
    ];
-
    var crewList = [
        {
            src: 'assets/images/crew/s-te.png',
            name: 'Анна Губкина',
            position: 'По вопросам регистрации',
            email: 'info@adindex.ru',
        },
        {
            src: 'assets/images/crew/s-sm.png',
            name: 'Святослав Менчик',
            position: 'По вопросам инфопартнерства',
            email: 'pr@adindex.ru',
        },
        {
            src: 'assets/images/crew/s-mb.png',
            name: 'Мария Буянова',
            position: 'По вопросам спонсорства',
            email: 'buyanova@adindex.ru',
        },
        {
            src: 'assets/images/crew/s-yr.png',
            name: 'Юлия Рясная',
            position: 'По организационным вопросам',
            email: 'eventsadindex@gmail.com',
        },
    ];
//- -
//-      var PartnersList = [
//-        "Официальные",
//-        "Специальные",
//-        "При поддержке",
//-        "Индустриальные партнеры"
//-     ];