section.section__first-screen
    
    //- .first-screen-wrap  
        //- -for(var i = 0; i<12;i++){
        //-     a.item(href="#")
        //-         .item-box
        //-             .item-box__front Hello
        //-             .item-box__bottom World
        //- -}
    //- .first-screen__pic-wr
    //-     .first-screen__pic
            //- img(src="assets/images/close.png").first-screen__close-img
            img(src="assets/images/pic.png").first-screen__img
    .section.first
        .first__img
            img(src="assets/images/bg.jpg" srcset="assets/images/bg.jpg 2x")
        .first__img__mob
            img(src="assets/images/mob.jpg" srcset="assets/images/mob.jpg 2x")
        .section__in   
            .first__logo
                img(src="assets/images/pic.png").first-screen__img.first__logo-img
        .section__btn    
            a.button.button__white.tags__content__btn Смотреть трансляцию
            a.button.button__white(href="assets/images/map-large.jpg" data-fancybox="city-map").first__scroll.scroll Смотреть героев
            .first-screen__footer
                .sity2020-share
                    .sity2020-share__btns.ya-share2(data-services="vkontakte,facebook,telegram" data-counter="")
    