header.header
  .container.header-container
    nav.header__nav
      ul.header__nav__list
        li.header__nav__item
          a(href="news.html").header__nav__link Новости города
        li.header__nav__item
          a(href="#about").header__nav__link.menu-scroll О мероприятии
        li.header__nav__item
          a(href="speakers.html").header__nav__link Спикеры
        li.header__nav__item
          a(href="program.html").header__nav__link Программа
        li.header__nav__item
          a(href="#partners").header__nav__link.menu-scroll Партнеры
        li.header__nav__item
          a(href="#").header__nav__link.submenu-js Как это было
          .submenu-list
            .submenu-item
              a(href="https://conf.adindex.ru/adindex-city-conference-2019/" target="_blank").submenu-link 2019
            .submenu-item
              a(href="https://conf.adindex.ru/adindex-city-conference-2018/" target="_blank").submenu-link 2018
        li.header__nav__item
          a(href="#contacts").header__nav__link.menu-scroll Контакты
      
    .header__buttons-wr
      .header__button__programm
        a.button__programm__link(href="personal-area.html") Моя программа
      .header__button__buy-ticket
        button.button__buy-ticket.button__white.button Регистрация
    .header__age-limitation 18+